<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

      <div class="row">
        <h2>Reviews:</h2>
        <% @product.reviews.order(created_at: :desc).each do |review| %>
        <%= review.rating * review.rating.size %>
        <div class="review">
          <div>
            <% if review.rating == 1 %>
              <aside class="review">
                <i class="fa fa-star" aria-hidden="true"></i>
              </aside>
            <% end %>
            <% if review.rating == 2 %>
              <aside class="review">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </aside>
            <% end %>
            <% if review.rating == 3 %>
              <aside class="review">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>              
              </aside>
            <% end %>
            <% if review.rating == 4 %>
              <aside class="review">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>   
              </aside>
            <% end %>
            <% if review.rating == 5 %>
              <aside class="review">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>              
              </aside>
            <% end %>
          <div> Written by user:
            <%= review.user&.name %>
          </div>
          <div> Review:
            <%= review.description %>
          </div>
        </div>
        </br>
        <% end %>
      </div>

      <h2>Write a new review</h2>
      <%= form_for [@product, @product.reviews.build] do |f| %>
        <div class="field">
          <%= f.label :description %>
        </br>
          <%= f.text_area :description %>
        </br>
          <%= f.label :rating %> 
        </br>
          <%= f.select (:rating) do %>
            <% [[1], [2],[3], [4], [5]].each do |rating| %>
              <%= content_tag(:option, rating.first, value: rating.last) %>
            <% end %>
          <% end %>

        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>



    </div>
  </article>

</section>
